{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <!--Table for portfolio.-->
    <table class="table">

        <!--Header.-->
        <thead class="thead-light">
            <tr>
                <th> Symbol </th>
                <th> No. of shares </th>
                <th> Avg. purchase price </th>
                <th> Total purchase price </th>
                <th> Current price </th>
                <th> Total current price </th>
            </tr>
        </thead>

        <!--Body.-->
        <!--2 decimal places added for index below, note: '0.2f'|format()-->
        <!--Can use USD helper function alternatively.-->
        <tbody>
            {% for row in rows %}
                <tr>
                    <td> {{ row['symbol'] }} </td>
                    <td> {{ row['quantity'] }} </td>
                    <td> ${{ '%0.2f'|format(row['averagepurchaseprice']) }} </td>
                    <td> ${{ '%0.2f'|format(row['total_amount']) }} </td>
                    <td> ${{ '%0.2f'|format(row['currentprice']) }} </td>
                    <td> ${{ '%0.2f'|format(row['totalcurrentprice']) }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <h1>Summary</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th> Available cash, USD$ </th>
                <th> Grand total (cash + current portfolio value), USD$ </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td> ${{ '%0.2f'|format(cash) }} </td>
                <td> ${{ '%0.2f'|format(gtot) }} </td>
            </tr>
        </tbody>

    </table>

    <br>
    <!--Add cash.-->

    <h3>Add cash</h3>

    <form action="/" method="post">

        <!-- user symbol input -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Add cash" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>



{% endblock %}
